  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

html{
   
    height: 100%;
    width: 100%;
    scroll-behavior: auto;
    overflow: hidden;
}
body{
    height: 100%;
    width: 100%;
    scroll-behavior: auto;
    overflow: hidden;
}

#cursor{
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background-color:rgb(73, 182, 197);
    position: fixed;
    transition: backgroundImage ease 1s;
    mix-blend-mode: none;
    background-position: center;
    background-size: cover;
    z-index: 30;
}

#page1{
   min-height: 107vh;
   background-color: #999D9E;
   position: relative;
} 

#nav2 a {
  text-decoration: none;
  color: white; 
}

#nav{
 height: 6vh;
 display: flex;
 align-items:center;
 justify-content: space-between;
 padding: 25px 70px;
}
#nav h2{
    font-weight: 200;
    color:white;
    font-size: 30px;
}
#nav2 h4{
    /* color: rgb(3, 53, 15); */
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    
    font-size: 25px;
    display: inline-block;
  position: relative;
  transition: transform 0.2s ease;
  will-change: transform;
  cursor: pointer;
 margin-top: 30px;
  
}
#nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}



#page1 h1{
    color: rgb(255, 255, 255);
    font-size: 7vw;
    font-weight: 300;
    margin-top: 6vw;
    margin-left: 15vw;
}
#page1 h3{
    color: rgba(255, 255, 255, 0.992);
    font-size: 7vw;
    margin-left: 35vw;
}
#page1 img{
    width: 40%;
    margin-top: 16vh;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    border-radius: 15px;
}
#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 8;
    background-color:#999D9E;
}
#page2 h1{
    font-size: 7vw;
    font-weight: 300;
    padding: 4vw;
    color: darkblue;
}
#page2 #dholu{
    width: 40%;
}
#page2 #bholu{
    width: 40%;
}
#dholu h2{
    font-size: 3vw;
    font-weight: 300;
    color: black;
}
#bholu p{
    font-size: 2vw;
    font-weight: 100;
    color: black;
}
#bholu button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    margin-top: 3vw;
    margin-left: 5vw;
    color: black;

}
#dholu-bholu{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

#page3{
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: relative;
    /* padding-bottom: 7vw; */
    z-index: 8; 
    background-color: WHITE;
   
    
}
#nav3{
    padding: 20px;
}

#ek,#do{
    border-radius: 15px;
    height: 120px;
    width: 120px;
}

#techstack{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
    font-weight: bold ;
   
}

 #page3 h1{
    font-family: sans-serif;
    font-size: 40px;
    padding-left: 20px;
 }

#page4{
    min-height: 30vh;
    position: relative;
    z-index: 8;
    padding: 10vw;
    background-color:#254D70;
}
#elem{
     display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#elem img{
    position: absolute;
    height: 160%;
    opacity: 0;
    transition: all ease-out 0.3s;
    transform: translateY(10%) rotate(2deg);
    z-index: 20;
}

#elem img:nth-child(1){
    left: -5%;
}
#elem img:nth-child(3){
    right: -5%;
}
#textdiv{
    height: 130px;
    overflow: hidden;
    margin: 1vw 0;
    border-bottom: .3px solid rgb(126, 122, 122);
}
#elem h1{
    font-size: 7.3vw;
    transition: all ease-out 0.3s;
    color: white;
}

#elem:hover h1 {
    transform: translateY(-100%);
    color: #EDBFFF;
}
#elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}
#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 0 150px;
    background-color:#254D70;
}



#page5 h1{
    font-size: 5vw;
    color: white;
}

#dabba{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-bottom: 2px solid #dadada;
    padding: 0 10px;
}
#dabba h2,h3{
    color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#dummypage{
    min-height: 80vh;
    width: 100%;
    background-color:#7b8688;
    position: relative;
    z-index: 1;

}


#dummypage h1{
    color: white;
    font-size: 7vw;
    padding: 5vw 5vw ;
}
#dummypage p{
    color: white;
    font-size: 1.5vw;
    padding: 0 5vw;
}



@media (max-width:600px) {
    #nav{
        padding: 0 50px;
       }
       #nav h2{
           font-size: 4vw;
           padding-right: 9vw;
       }
       #nav2{  
           gap: 8px;
       }
      
       #page1 h1{
        margin-left: 45vw;
        margin-top: 30vw;
    }
    #page1 h3{
        color: rgba(68, 255, 0, 0.562);
        font-size: 7vw;
        margin-left: 15vw;
    }
    #page1 img{
        width: 10%;
        
    }
}




#btn {
  padding: 10px 20px;
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #334BD3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.2s ease;
}

#btn:hover {
  background-color: #455CE9; 
  transform: scale(1.05);    
}
#main {
  overflow: hidden;
}
.nav-link{
   position: relative;
    display: inline-block;
} 
 
#icons2{
    height: 30px;
    width:30px;
  
}
 

#whatido{
    font-size: 80px;
    padding-bottom: 70px;
    color: white;
}
#nav3 button {
  margin-top:30px;}
